* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

body {
    text-align: center;
}

/* This section formats the header text and images */
#header {
    height: 600px;
    
}

h1 {
    color: white;
    font-size: 50px;
    background-color: teal;
    padding: 10px;
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
}

#profile-pic {
    display: block;
    height: 300px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: solid teal;
    padding: 10px;
    background-color: black;
}

/* This section formats and animates the nav bar */
nav {
    display: flex;
    background-color: teal;
    justify-content: center;
}
 
nav a {
    color: white;
    padding: 21px 55px;
    text-decoration: none;
    font-size: 24px;
    transition: all .2s ease-in-out;
}

nav a:hover {
    background-color: rgb(0, 68, 68);
    transform: scale(.9);
}

/* This section formats and animates the Work Section */
h2 {
    display: block;
}

#Work {
    margin-top: 5%;
    margin-bottom: 5%;
}

.worksection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#portfolio {
    padding: 20px;
    border: solid;
    border-radius: 15px;
    flex: .5 0 400px;
    transition: all .2s ease-in-out;
}

#first {
    width: 100%;
    object-fit: cover;
    border: solid black;
    border-radius: 15px;
    max-height: 600px;
}

.bottomsection {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    padding: 50px;
}

.bottomsection section{
    padding: 20px; 
    border: solid;
    border-radius: 15px;
    margin: 20px;
    flex: 0 0 400px;
    transition: all .2s ease-in-out;
}

.bottomsection img {
    width: 100%;
    object-fit: cover;
    border: solid black;
    border-radius: 15px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin-top: 10px;
}

section:hover {
    background-color: teal;
    transform: scale(1.1);
    
}

/* This section fomats and animates the About Me section */
#About-Me {
    margin-top: 50px;
    margin-bottom: 50px;
}

.aboutsection{
    width: fit-content;
    border: solid;
    padding: 25px;
    display: flex;
    flex-wrap: wrap;  
    margin: auto;
    background-color: teal;
    border-radius: 15px;
}

.aboutsection img {
    height: 450px;
    border-radius: 15px;
    border: solid;
    margin: auto;
}

.aboutsection div {
    padding-left: 50px;
    padding-right: 20px;
    margin: auto;
}

.aboutsection p {
    transition: all .1s ease-in-out;
    color: white;
}
.aboutsection p:hover {
    transform: scale(1.1);
}

/* This section formats the Contact Me section */
.conactsection {
    border: solid;
    border-radius: 25px;
    margin-right: 25%;
    margin-left: 25%;
    margin-bottom: 100px;
}

/* This section formats the page for smaller screens */
@media screen and (max-width: 992px) {
    nav {
      flex-direction: column;
    }

    .conactsection {
        margin-right: 10%;
        margin-left: 10%;
    }

    .aboutsection {
        margin-right: 20px;
        margin-left: 20px;
        flex: .5 0 400px;
    }

    .aboutsection img {
        object-fit: cover;
        flex: .2 0 350px;
        width:100%;
    }