* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

body {
    text-align: center;
}

#header {
    text-align: center;
    height: 600px;
    
}

h1 {
    color: white;
    text-align: center;
    font-size: 50px;
    background-color: teal;
    padding: 10px;
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
}

h2 {
    margin-left: 100p;
    display: block;
}

#profile-pic {
    display: block;
    height: 300px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: solid teal;
    padding: 10px;
    background-color: black;
}

.nav {
    background-color: teal;
    padding: 20px;
    flex-wrap: wrap;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav li {
    margin-left: 25px;
    display: inline;
}

.nav a {
    text-decoration: none;
    color: white;
    padding: 20px;
    font-size: 24px;
}

#Work {
    margin-top: 20px;
}

.worksection {
    /* display: flex; */
    /* flex: 1; */
    width: 100%;
    text-align: center;
    flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.worksection section{
    padding: 20px;
    border: solid;
    margin: 20px;
    flex: 0 0 400px;
    transition: all .2s ease-in-out;
}

.worksection img {
    width: 100%;
    object-fit: cover;
}

.worksection ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.worksection li {
    margin-top: 10px;
}

.worksection section:hover {
    background-color: teal;
    transform: scale(1.1);
}