* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

body {
    text-align: center;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
}

/* This section formats the header text and images */
#header {
    height: 100vh;
    /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
    /* background-size: 400% 400%; */
    /* animation: gradient 5s ease infinite; */

}

#header-container{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    /* 25% {
        background-position: 90% 50%;
    } */
    50% {
        background-position: 100% 50%;
    }
    /* 75% {
        background-position: 90% 50%;
    } */
    100% {
        background-position: 0% 50%;
    }
    
}

h1 {
    color: white;
    font-size: 50px;
    padding: 10px;
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    transition: all .2s ease-in-out;
    box-shadow: 10px 5px 20px black;

}

#profile-pic {
    display: block;
    height: 45vh;
    margin-top: 20px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: solid white;
    /* background-color: black; */
    transition: all .2s ease-in-out;
    box-shadow: 10px 5px 20px black;

}

/* This section formats and animates the nav bar */


nav {
    margin-top: 15px;
    align-content: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

#nav-container {
    position: fixed;
    top: 0;
    z-index: 1;
    background: rgba(0, 0, 0, .7);
    width: 100%;
}
 
nav a {
    color: white;
    padding: 21px 55px;
    text-decoration: none;
    font-size: 12px;
    transition: all .2s ease-in-out;
}

nav a:hover {
 
    transform: scale(.9);
}

/* This section formats and animates the Work Section */

#sidebar {
    border-left: solid white;
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    
}

#Work{
    margin-right: 15px;
}
.worksection {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 10px;
    
}

#first-demo {
    transition: all .2s ease-in-out;
    box-shadow: 10px 5px 20px black;
}

#first-demo-pic {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border: solid wheat;
    
}

.bottomsection {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    box-shadow: 10px 5px 20px black;

}

.bottomsection section{
    transition: all .2s ease-in-out;
}

.bottomsection img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: solid wheat;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

img:hover {
    border: solid teal;
    
}

#first-demo-pic:hover{
    border: solid teal;
}

/* This section fomats and animates the About Me section */
#About-Me {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 15px;
}

.aboutsection{
    height: 100vh;
    width: fit-content;
    padding: 25px;
    display: flex; 
    margin: auto;
    align-items: center;
    justify-content: center;

}
#aboutMeContent{
    display: flex;
    height: 600px;
    border-left: solid white;
}
.aboutsection img {
    height: 250px;
    border: solid wheat;
    margin: auto;
}

#questions {
    padding-left: 50px;
    padding-right: 20px;
    margin: auto;
}

.aboutsection p {
    transition: all .1s ease-in-out;
    color: white;
}
.aboutsection p:hover {
    transform: scale(1.1);
}

#Contact {
    margin-right: 15px;
}

/* This section formats the Contact Me section */
.conactsection {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 25%;
    margin-left: 25%;
    margin-bottom: 100px;
}

#contactContent{
    border-left: solid white;
    padding-left: 15px;

}

.social{
    width: 50px;
}

#socialList{
    display: flex;
    justify-content: center;
}

/* This section formats the page for smaller screens */
@media screen and (max-width: 992px) {
    #sidebar{
        border-left: none;
        border-top: solid white;
    }

    .worksection{
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .bottomsection img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border: solid wheat;
    }

    #first-demo-pic {
        width: 300px;
        height: 300px;
        object-fit: cover;
        border: solid wheat;
        
    }

    nav {
        margin-top: 0px;
    }
    nav a{
        padding: 15px 40px;

    }
    /* nav {
      flex-direction: column;
    }

    .conactsection {
        margin-right: 10%;
        margin-left: 10%;
    }

    .aboutsection {
        margin-right: 20px;
        margin-left: 20px;
        flex: .5 0 400px;
    }

    .aboutsection img {
        object-fit: cover;
        flex: .2 0 350px;
        width:100%; */
}
